/* colors */
/* fonts */
/* shadow */
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.header__logo {
  position: relative;
  font-family: "Shrikhand", cursive;
  color: black;
  font-size: 2rem;
  padding: 10px 20px;
  width: 100%;
  box-shadow: 0 3px 9px rgb(218, 218, 218);
}
.header__arrow {
  color: black;
  font-size: x-large;
  position: absolute;
  left: 20px;
  top: 18px;
}
.header__location {
  font-family: "Roboto", sans-serif;
  background-color: #EAEAEA;
  padding: 14px 20px;
  width: 100%;
  color: #333333;
}
.header__location i {
  margin-right: 20px;
}
.header__description {
  width: 100%;
  padding: 35px 20px;
  background-color: #f7f7f7;
}
.header__description p {
  margin-bottom: 45px;
  color: #777777;
}

.button {
  display: table;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top: 20px;
  padding: 15px 25px;
  border-radius: 30px;
  color: white;
  font-weight: 400;
  z-index: 1;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(358deg, #9356DC, #FF79DA 95%);
}
.button:hover::after {
  opacity: 1;
}
.button::after {
  content: "";
  position: absolute;
  background: linear-gradient(358deg, #a16be0, #ff93e1 95%);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  z-index: -1;
  box-shadow: 2px 1px 16px -3px #777777;
  opacity: 0;
}

.button-4pages {
  padding-left: 25px;
  padding-right: 25px;
}

html {
  font-size: 17px;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 1.4rem;
}

.functioning {
  padding: 20px;
  counter-reset: list;
}
.functioning h2 {
  margin-bottom: 40px;
}
.functioning ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-left: 10px;
  margin-bottom: 60px;
}
@media (max-width: 1131px) {
  .functioning ul {
    flex-direction: column;
  }
}
.functioning li {
  background-color: #f7f7f7;
  padding: 1.5rem 0;
  padding-left: 2rem;
  flex-grow: 1;
  border-radius: 20px;
  box-shadow: 0 3px 9px rgb(218, 218, 218);
  position: relative;
  display: flex;
  align-items: center;
}
.functioning li i {
  margin-right: 1.5rem;
  color: #777777;
  font-size: 25px;
}
.functioning li::before {
  content: counter(list);
  counter-increment: list;
  background-color: #9356DC;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -13px;
}
.functioning li:hover {
  background-color: #d7c0f2;
}
.functioning li:hover i {
  color: #9356DC;
}

.restaurant {
  background-color: #f7f7f7;
  padding: 20px;
  gap: 2rem;
}
.restaurant h2 {
  margin-top: 45px;
  margin-bottom: 18px;
}
.restaurant__block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
  padding-bottom: 3rem;
}
.restaurant__cards {
  background-color: white;
  height: 260px;
  flex-grow: 1;
  min-width: 19rem;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0 3px 9px rgb(218, 218, 218);
}
.restaurant__cards a {
  display: block;
  height: 100%;
}
.restaurant__cards a img {
  object-fit: cover;
  width: 100%;
  height: 180PX;
  border-radius: 15px 15px 0 0;
}
.restaurant__cards__description {
  color: black;
  margin-left: 20px;
}
.restaurant__cards__description h3 {
  font-size: 17.5px;
  margin-bottom: 5px;
}
.restaurant__cards__description p {
  margin-top: 5px;
  font-weight: 300;
}
.restaurant__cards a span {
  position: absolute;
  height: 1.8rem;
  width: 4.5rem;
  background-color: #99E2D0;
  color: #299077;
  right: 1rem;
  top: 1rem;
  display: grid;
  place-items: center;
  font-weight: 500;
  font-size: 0.8rem;
}

.heart {
  cursor: pointer;
  color: black;
}
.heart:hover .heart-fill {
  transform: scale(1.09);
}
.heart i {
  position: absolute;
  right: 1rem;
  bottom: 2rem;
  font-size: 22px;
}
.heart i.heart-fill {
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  transform: scale(0);
  transition: all 400ms;
}

.footer {
  background-color: #383838;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  color: white;
}
.footer h3 {
  margin-bottom: 6px;
  font-family: "Shrikhand", cursive;
}
.footer ul {
  padding-left: 0;
}
.footer ul li {
  margin-bottom: 7px;
}
.footer ul li a {
  color: white;
}
.footer ul li a i {
  padding-right: 15px;
}

@keyframes turning-arrow {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes progressive-appearing {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(1);
  }
}
/* Animation de chargement de la page */
.loader {
  background-color: white;
  opacity: 0.6;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 2;
  animation: page-loader-disapear 0.5s 0.9s forwards;
  display: grid;
  place-items: center;
}
.loader i {
  background: linear-gradient(358deg, #9356DC, #FF79DA 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes page-loader-disapear {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
.photo-resto {
  max-width: 100%;
  display: block;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 280PX;
}

.restos {
  background-color: #f7f7f7;
  padding-bottom: 35px;
}
.restos h2 {
  font-family: Shrikhand;
  font-weight: 100;
  margin-left: 20px;
}
.restos h3 {
  font-weight: 100;
  font-size: 18px;
  position: relative;
}
.restos h3::after {
  position: absolute;
  content: "";
  height: 5px;
  width: 45px;
  background-color: #99E2D0;
  top: 23px;
  left: 0;
}
.restos ul {
  padding-left: 0;
}
.restos ul li {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 3px 9px rgb(218, 218, 218);
  overflow: hidden;
  display: flex;
  margin-bottom: 20px;
  animation: progressive-appearing 1.5s;
  animation-fill-mode: both;
}
.restos ul li:nth-child(1) {
  animation-delay: 200ms;
}
.restos ul li:nth-child(2) {
  animation-delay: 400ms;
}
.restos ul li:nth-child(3) {
  animation-delay: 600ms;
}
.restos ul li:nth-child(4) {
  animation-delay: 800ms;
}
.restos ul li:hover .restos__menu__cartes__checked {
  margin-right: 0;
}
.restos ul li:hover .restos__menu__cartes__checked i {
  animation: turning-arrow 1S;
}
.restos ul li span {
  font-weight: 500;
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
  padding-bottom: 15px;
}
.restos ul li h4 {
  margin: 0;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restos ul li p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 100;
  padding-bottom: 10px;
  padding-left: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restos__name {
  display: flex;
  position: relative;
  margin-top: -3rem;
  border-radius: 35px 35px 0 0;
  background-color: #f7f7f7;
}
.restos__name i {
  position: absolute;
  right: 2rem;
  top: 1.4rem;
  font-size: 22px;
}
.restos__name i.fas {
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 400ms;
}
.restos__name i.fas:hover {
  opacity: 1;
  transform: scale(1.07);
}
.restos__menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}
@media (max-width: 1000px) {
  .restos__menu {
    grid-template-columns: 1fr;
  }
}
.restos__menu__cartes {
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}
.restos__menu__cartes__dishes {
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restos__menu__cartes__checked {
  display: grid;
  place-items: center;
  color: #99E2D0;
  background-color: #99E2D0;
  width: 74px;
  height: auto;
  margin-right: -74px;
  padding: 0;
  border-radius: 0 20px 20px 0;
  transition: margin-right 0.7s;
}
.restos__menu__cartes__checked i {
  display: grid;
  place-items: center;
  background: white;
  border-radius: 50%;
  width: 2em;
  aspect-ratio: 1;
}

/*# sourceMappingURL=style.css.map */
