@charset "UTF-8";
/* colors */
/* fonts */
/* shadow */
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.header__photo {
  max-width: 100%;
  display: block;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 280px;
}
@media (min-width: 800px) {
  .header__photo {
    height: 400px;
  }
}
.header__logo {
  position: relative;
  font-family: "Shrikhand", cursive;
  color: black;
  font-size: 2rem;
  padding: 10px 20px;
  width: 100%;
  box-shadow: 0 3px 9px rgb(218, 218, 218);
}
.header__arrow {
  color: black;
  font-size: x-large;
  position: absolute;
  left: 20px;
  top: 18px;
}
.header__location {
  font-family: "Roboto", sans-serif;
  background-color: #EAEAEA;
  padding: 14px 20px;
  width: 100%;
  color: #333333;
}
.header__location i {
  margin-right: 20px;
}
.header__description {
  width: 100%;
  padding: 35px 20px;
  background-color: #f7f7f7;
}
.header__description p {
  margin-bottom: 45px;
  color: #777777;
}

.button {
  display: table;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top: 20px;
  padding: 15px 25px;
  border-radius: 30px;
  color: white;
  font-weight: 400;
  z-index: 1;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(358deg, #9356DC, #FF79DA 95%);
}
.button:hover::after {
  opacity: 1;
}
.button::after {
  content: "";
  position: absolute;
  background: linear-gradient(358deg, #a16be0, #ff93e1 95%);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  z-index: -1;
  box-shadow: 2px 1px 16px -3px #777777;
  opacity: 0;
}

.button-4pages {
  padding-left: 25px;
  padding-right: 25px;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 1.4rem;
}

.functioning {
  padding: 20px;
  counter-reset: list;
}
.functioning h2 {
  margin-bottom: 40px;
}
.functioning ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-left: 10px;
  margin-bottom: 60px;
}
@media (max-width: 800px) {
  .functioning ul {
    flex-direction: column;
  }
}
.functioning li {
  transition: all 0.3s ease;
  background-color: #f7f7f7;
  padding: 1.5rem 1.5rem;
  flex-grow: 1;
  border-radius: 20px;
  box-shadow: 0 3px 9px rgb(218, 218, 218);
  position: relative;
  display: flex;
  align-items: center;
}
.functioning li i {
  margin-right: 25px;
  color: #777777;
  font-size: 25px;
}
.functioning li::before {
  content: counter(list);
  counter-increment: list;
  background-color: #9356DC;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -13px;
}
.functioning li:hover {
  background-color: #f2eafb;
}
.functioning li:hover i {
  color: #9356DC;
}

.restaurant {
  background-color: #f7f7f7;
  padding: 20px;
  gap: 2rem;
}
.restaurant h2 {
  margin-top: 45px;
  margin-bottom: 18px;
}
.restaurant__block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
  padding-bottom: 3rem;
}
@media (min-width: 800px) {
  .restaurant__block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .restaurant__block {
    grid-template-columns: repeat(4, 1fr);
  }
}
.restaurant__cards {
  background-color: white;
  height: 246px;
  flex-grow: 1;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0 3px 9px rgb(218, 218, 218);
}
.restaurant__cards a {
  display: block;
  height: 100%;
}
.restaurant__cards a img {
  object-fit: cover;
  width: 100%;
  height: 168px;
  border-radius: 15px 15px 0 0;
}
.restaurant__cards__description {
  color: black;
  margin-left: 20px;
}
.restaurant__cards__description h3 {
  font-size: 17.5px;
  margin-bottom: 5px;
}
.restaurant__cards__description p {
  margin-top: 5px;
  font-weight: 300;
}
.restaurant__cards a span {
  position: absolute;
  height: 1.8rem;
  width: 4.5rem;
  background-color: #99E2D0;
  color: #299077;
  right: 1rem;
  top: 1rem;
  display: grid;
  place-items: center;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 2px;
}

.heart {
  cursor: pointer;
  color: black;
}
.heart:hover .heart-fill {
  transform: scale(1.09);
}
.heart i {
  position: absolute;
  right: 2rem;
  bottom: 25px;
  font-size: 22px;
}
.heart i.heart-fill {
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  transform: scale(0);
  transition: all 500ms;
}

.footer__content {
  background-color: #383838;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  color: white;
}
.footer__content h3 {
  margin-bottom: 6px;
  font-family: "Shrikhand", cursive;
}
.footer__content ul {
  padding-left: 0;
}
@media (min-width: 800px) {
  .footer__content ul {
    display: inline-flex;
    padding-right: 20px;
    justify-content: space-between;
  }
}
.footer__content ul li {
  margin-bottom: 7px;
}
.footer__content ul li a {
  color: white;
}
.footer__content ul li a i {
  padding-right: 15px;
}

/* Animation de chargement de la page d'accueil */
@keyframes page-loader-disapear {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes page-loader-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1160deg);
  }
}
.loader {
  background-color: #EAEAEA;
  opacity: 0.95;
  height: 100vh;
  inset: 0;
  position: fixed;
  animation: page-loader-disapear 3s 0.9s forwards;
  display: grid;
  place-items: center;
  z-index: 2;
}
.loader__spinner {
  opacity: 1;
  position: fixed;
  border-top: solid #99E2D0 10px;
  border-radius: 50%;
  align-items: center;
  width: 250px;
  height: 250px;
  animation: page-loader-spinner 3s linear forwards;
}

/* Animation apparition progressive des menus  */
@keyframes progressive-appearing {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Animation de la coche que se retourne dans les plats  */
@keyframes turning-arrow {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
.restos {
  background-color: #f7f7f7;
  padding-bottom: 35px;
}
@media (min-width: 1200px) {
  .restos {
    padding-bottom: 100px;
  }
}
.restos h2 {
  font-family: Shrikhand;
  font-weight: 100;
  margin-left: 20px;
}
.restos h3 {
  font-weight: 100;
  font-size: 18px;
  margin-bottom: 30px;
  position: relative;
}
.restos h3::after {
  position: absolute;
  content: "";
  height: 5px;
  width: 45px;
  background-color: #99E2D0;
  top: 23px;
  left: 0;
}
.restos ul {
  padding-left: 0;
}
.restos ul li {
  background-color: white;
  border-radius: 14px;
  box-shadow: 0 3px 9px rgb(218, 218, 218);
  overflow: hidden;
  display: flex;
  margin-bottom: 20px;
  animation: progressive-appearing 1.5s;
  animation-fill-mode: both;
}
.restos ul li:nth-child(1) {
  animation-delay: 280ms;
}
.restos ul li:nth-child(2) {
  animation-delay: 560ms;
}
.restos ul li:nth-child(3) {
  animation-delay: 840ms;
}
.restos ul li:nth-child(4) {
  animation-delay: 1120ms;
}
.restos ul li:hover .restos__checked {
  margin-right: 0;
}
.restos ul li:hover .restos__checked i {
  animation: turning-arrow 1S;
}
.restos ul li span {
  font-weight: 500;
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
  padding-bottom: 15px;
}
.restos ul li h4 {
  margin: 0;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restos ul li p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 100;
  padding-bottom: 10px;
  padding-left: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* Adaptation du texte des plats de restaurant
   sur petits écrans de mobiles */
}
@media (max-width: 350px) {
  .restos ul li p {
    font-size: 0.75rem;
  }
}
.restos__name {
  display: flex;
  position: relative;
  margin-top: -3rem;
  border-radius: 35px 35px 0 0;
  background-color: #f7f7f7;
}
@media (min-width: 800px) {
  .restos__name {
    margin-top: -5rem;
  }
}
.restos__menu {
  grid-template-columns: 1fr;
  display: grid;
  background-color: #f7f7f7;
  position: relative;
}
@media (min-width: 800px) {
  .restos__menu {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }
}
@media (min-width: 1200px) {
  .restos__menu {
    grid-template-columns: repeat(3, 1fr);
  }
}
.restos__cartes {
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}
.restos__dishes {
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}
.restos__checked {
  display: grid;
  place-items: center;
  color: #99E2D0;
  background-color: #99E2D0;
  width: 60px;
  height: auto;
  margin-right: -60px;
  padding: 0;
  border-radius: 0 14px 14px 0;
  transition: margin-right 0.7s;
}
.restos__checked i {
  display: grid;
  place-items: center;
  background: white;
  border-radius: 50%;
  width: 1.35rem;
  -webkit-text-stroke-width: 1px;
  aspect-ratio: 1/1;
}

/*# sourceMappingURL=style.css.map */
