@keyframes turning-arrow {
    0% {
        transform: rotate(-270deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes progressive-appearing {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(1);
    }
}
/* Animation de chargement de la page */
.loader{
    background-color: white;
    opacity: 0.6;
    height: 100vh;
    position: fixed;
    inset: 0;
    z-index: 2;
    animation: page-loader-disapear 0.5s 0.9s forwards;
    display: grid;
    place-items: center;
    i{
        background: linear-gradient(358deg, $primary-color, $secondary-color 95%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}
@keyframes page-loader-disapear {
    0%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
 }