/* Animation de chargement de la page d'accueil */

@keyframes page-loader-disapear {
	0% {
		visibility: visible;
	}

	100% {
		visibility: hidden;
	}
}

@keyframes page-loader-spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(1160deg);
	}
}

.loader {
	background-color: $fourth-color;
	opacity: 0.95;
	height: 100vh;
	inset: 0;
	position: fixed;
	animation: page-loader-disapear 3s 0.9s forwards;
	display: grid;
	place-items: center;
	z-index: 2;

	&__spinner {
		opacity: 1;
		position: fixed;
		border-top: solid $third-color 10px;
		border-radius: 50%;
		align-items: center;
		width: 250px;
		height: 250px;
		animation: page-loader-spinner 3s linear forwards;
	}
}

/* Animation apparition progressive des menus  */

@keyframes progressive-appearing {
	0% {
		transform: translateY(50%);
		opacity: 0;
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
/* Animation de la coche que se retourne dans les plats  */

@keyframes turning-arrow {
	0% {
		transform: rotate(-270deg);
	}

	100% {
		transform: rotate(0);
	}
}
